{% extends 'base.html.twig' %}

{% block title %}Formulario de registro{% endblock %}

{% block body %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-4 mt-3">
                {{ form_start(registrationForm) }}

                    {% for flashError in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">Formulario de registro</h1>

                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.login) }}
                    {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button class="btn btn-lg btn-primary btn-block" type="submit" class="btn">Registrar</button>

                {{ form_end(registrationForm) }}

            </div>
        </div>
    </div>
{% endblock %}


